<ion-view view-title="Games">
    <ion-content class="padding">
        <!--<div class="list card" ng-repeat="game in games"
             ng-click="selectGame()">
            <div class="item item-divider">{{game.date}} {{game.time}} Field:{{game.field}}</div>
            <div class="item item-body">
                <div>{{game.detail}}</div>
            </div>
        </div>-->
    <div class="list">
        <div ng-repeat="game in games">
            <p class="positive">{{game.time}}</p>            
            <div class="row">
                <div class="col"><p>{{game.team1}}</p></div>
                <div class="col"><p>vs</p></div>
                <div class="col"><p>{{game.team2}}</p></div>                                                
            </div>
            <div class="row"><a ng-href="#">Location: {{game.location}}</a></div>
        </div>
    </div>
    </ion-content>
</ion-view>