<!--<ion-view view-title="Standing" ng-controller="LeaguesCtrl as vm">
    <ion-content>
        <div class="list">
            <a class="item" ng-repeat="league in vm.leagues">
                {{league.name}}
                {{league.id}}
                {{league.divisionTeams.coach}}
            </a>
        </div>
    </ion-content>
</ion-view>-->
<ion-view view-title="Standing">
    <ion-content>
        <div class="list">
            <div ng-repeat="division in standing" type="item-text-wrap">
                <div class="item item-divider item-energized">
                    {{division.divisionName}}
                </div>
                <a class="item item-icon-right" ng-repeat="team in division.divisionTeams">
                    {{team.name}}<i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                
            </div>
        </div>
    </ion-content>
</ion-view>
