<!--<ion-view view-title="Standing" ng-controller="LeaguesCtrl as vm">
    <ion-content>
        <div class="list">
            <a class="item" ng-repeat="league in vm.leagues">
                {{league.name}}
                {{league.id}}
                {{league.divisionTeams.coach}}
            </a>
        </div>
    </ion-content>
</ion-view>-->
<ion-view view-title="Standing">
    <ion-content>
        <div class="list">
            <div ng-repeat="division in standing" type="item-text-wrap">
                <div class="item item-divider item-energized" align="center">
                    {{division.divisionName}}
                </div>
                <div class="row">
                    <div class="col"><p></p></div>
                    <div class="col-10"><h5>P</h5></div>
                    <div class="col-10"><h5>W</h5></div>
                    <div class="col-10"><h5>D</h5></div>
                    <div class="col-10"><h5>L</h5></div>
                    <div class="col-10"><h5>G</h5></div>
                    <div class="col-10"><h5>GD</h5></div>
                    <div class="col-10"><h5>Pts</h5></div>
                </div>
                <a class="item" ng-repeat="team in division.divisionStandings">
                    <div class="row">
                        <div class="col"><h5 class="positive">{{team.teamName}}</h5></div>
                        <div class="col-10"><h5>0</h5></div>
                        <div class="col-10"><h5>{{team.wins}}</h5></div>
                        <div class="col-10"><h5>0</h5></div>
                        <div class="col-10"><h5>{{team.losses}}</h5></div>
                        <div class="col-10"><h5>0</h5></div>
                        <div class="col-10"><h5>{{team.pointsDiff}}</h5></div>
                        <div class="col-10"><h5 class="positive">{{team.pointsFor}}</h5></div>
                    </div>
                    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
